@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}


.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navbar a{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.7s;
}

.navbar a:hover{
    color: #2b018c;
}

section{
    padding: 100px 200px;
    /* background-image: url(comps/stars.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

.social-icons a{
    font-size: 1.7em;
    padding-right: 30px;
    color: #000016;
    transition: 0.7s ease;
}

.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.title span{
    color: #fab700;
    margin-right: 8px;
    margin-left: 8px;
}
.para{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects{
    background-color: #00002f;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    padding: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}







.project-img img{
    width: 100%;
    height: 100%;
}
.project-img a{
    text-decoration: none;
    color: #000086;
    font-weight: 700;
    transition: .5s;
}
.project-img a:hover{
    color: #fab700;
}



.footer{
    background-color: #f0f0f0;
    color: #000016;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
}











.container .downlaod a{
    color: #00004f;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    border-radius: 10px; 
    padding: 7px 29px; 
    display: inline-block;
    margin-top: 30px;
    transition: .5s;
}
.container .downlaod a:hover{
    transform: scale(1.1);
    color: #fab700;
    background-color: #000016;
    box-shadow: 0px 0px 7px white;
}
.container {
    padding: 2rem;
    text-align: center;
}



.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}















@media (max-width:1023px){
     header{
        padding: 12px 20px;
     }
     .navbar a{
        padding-left: 10px;
     }
     .title{
        font-size: 1.8em;
     }
     section{
        padding: 120px 20px;
     }
     .content{
        flex-direction: column;
        align-items: center;
     }
     .para{
        text-align: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .para{
        text-align: center;
    }
}








@media screen and (max-width:360px){
    body{
        font-size: 10px;
    }
    .para{
        text-align: center;
    }
    .footer{
        background-color: #fff;
        color: #000016;
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }

    .footer-title{
        font-size: 2em;
        font-weight: 600;
    }

    .footer-title span{
        color: #3a6cf4;
    }

    .footer .social-icons a{
        font-size: 2.5em;
    }
    .para{
        text-align: center;
    }
    .content{
        flex-direction: row;
    }
    .project-card{
        padding: 4px;
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 9em;
        width: 9em;
        overflow: hidden;
        border-radius: 10px;
        margin: 5px;
        transition: 0.7s ease;
    }
    .project-img{
        height: 100%;
        width: 100%;
    }
    .container {
        padding: 0rem;
        text-align: center;
    }
    body{
        width: 100vh;
    }
    .container .downlaod a {
        color: #00004f;
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        background-color: white;
        border-radius: 10px;
        padding: 15px 50px;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: .5s;
    }
    .title {
        font-size: 3em;
    }
    .para {
        text-align: center;
        font-size: 30px;
    }
    header {
        padding: 12px 20px;

    }
    .logo {
        text-decoration: none;
        color: #3a6cf4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4em;
    }
    .navbar a {
        padding-left: 30px;
        font-size: 24px;
    }
    .section {
        padding: 120px 20px;
    }
}







@media screen and (max-width:414px){
   
    .footer{
        background-color: #fff;
        color: #000016;
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }

    .footer-title{
        font-size: 2em;
        font-weight: 600;
    }

    .footer-title span{
        color: #3a6cf4;
    }

    .footer .social-icons a{
        font-size: 2.5em;
    }
    .para{
        text-align: center;
    }
    .content{
        flex-direction: row;
    }
    .project-card{
        padding: 4px;
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 9em;
        width: 9em;
        overflow: hidden;
        border-radius: 10px;
        margin: 5px;
        transition: 0.7s ease;
    }
    .project-img{
        height: 100%;
        width: 100%;
    }
    .container {
        padding: 0rem;
        text-align: center;
    }
    body{
        width: 100vh;
    }
    .container .downlaod a {
        color: #00004f;
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        background-color: white;
        border-radius: 10px;
        padding: 15px 50px;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: .5s;
    }
    .title {
        font-size: 3em;
    }
    .para {
        text-align: center;
        font-size: 30px;
    }
    header {
        padding: 12px 20px;

    }
    .logo {
        text-decoration: none;
        color: #3a6cf4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4em;
    }
    .navbar a {
        padding-left: 30px;
        font-size: 30px;
    }
    .section {
        padding: 120px 20px;
    }
}






@media (max-width:280px){
    body{
        font-size: 10px;
    }
    .para{
        text-align: center;
    }
    .footer{
        background-color: #fff;
        color: #000016;
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }

    .footer-title{
        font-size: 2em;
        font-weight: 600;
    }

    .footer-title span{
        color: #3a6cf4;
    }

    .footer .social-icons a{
        font-size: 2.5em;
    }
    .para{
        text-align: center;
    }
    .content{
        flex-direction: row;
    }
    .project-card{
        padding: 4px;
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 9em;
        width: 9em;
        overflow: hidden;
        border-radius: 10px;
        margin: 5px;
        transition: 0.7s ease;
    }
    .project-img{
        height: 100%;
        width: 100%;
    }
    .container {
        padding: 0rem;
        text-align: center;
    }
    body{
        width: 100vh;
    }
    .container .downlaod a {
        color: #00004f;
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        background-color: white;
        border-radius: 10px;
        padding: 15px 50px;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: .5s;
    }
    .title {
        font-size: 3em;
    }
    .para {
        text-align: center;
        font-size: 30px;
    }
    header {
        padding: 12px 20px;

    }
    .logo {
        text-decoration: none;
        color: #3a6cf4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4em;
    }
    .navbar a {
        padding-left: 30px;
        font-size: 18px;
    }
    .section {
        padding: 120px 20px;
    }
}





@media screen and (max-width:600px){
   
    .footer{
        background-color: #fff;
        color: #000016;
        padding: 2em;
        display: flex;
        justify-content: space-between;
    }

    .footer-title{
        font-size: 2em;
        font-weight: 600;
    }

    .footer-title span{
        color: #3a6cf4;
    }

    .footer .social-icons a{
        font-size: 2.5em;
    }
    .para{
        text-align: center;
    }
    .content{
        flex-direction: row;
    }
    .project-card{
        padding: 4px;
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 9em;
        width: 9em;
        overflow: hidden;
        border-radius: 10px;
        margin: 5px;
        transition: 0.7s ease;
    }
    .project-img{
        height: 100%;
        width: 100%;
    }
    .container {
        padding: 0rem;
        text-align: center;
    }
    body{
        width: 100vh;
    }
    .container .downlaod a {
        color: #00004f;
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        background-color: white;
        border-radius: 10px;
        padding: 15px 50px;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: .5s;
    }
    .title {
        font-size: 3em;
    }
    .para {
        text-align: center;
        font-size: 30px;
    }
    header {
        padding: 12px 20px;

    }
    .logo {
        text-decoration: none;
        color: #3a6cf4;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 4em;
    }
    .navbar a {
        padding-left: 30px;
        font-size: 30px;
    }
    .section {
        padding: 120px 20px;
    }
}

